*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(55, 89, 204);
  background: linear-gradient(
    180deg,
    rgba(55, 89, 204, 1) 0%,
    rgba(128, 218, 236, 1) 100%
  );
}

#content {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

#searchBar {
  padding: 20px 20px 0px 20px;
  border-bottom: 1px solid #2f4799;
  box-shadow: 1px 1px 10px #2f4799;
}

#mainSection {
  display: flex;
  gap: 300px;
  justify-content: center;
  color: white;
}

#hourlyGraph {
  display: flex;
  justify-content: center;
  color: white;
}

#searchLocation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1160px;
  /* padding: 10px 75px 0px 75px; */
}

#myForm {
  display: flex;
  align-items: center;
  border: 1px solid rgb(55, 89, 204);
  border-radius: 30px;
  padding: 10px 15px 10px 15px;
  width: 15%;
  height: 40px;
  /* max-width: 200px; */
  /* height: 30px; */
  background-color: white;
}

input#location {
  border: none;
  /* width: 180px; */
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95rem;
}

input::placeholder {
  color: grey;
  font-weight: lighter;
}

#submitBtn {
  border: none;
  background-color: transparent;
  padding-right: 15px;
}

#searchImg {
  display: block;
  max-width: 100%;
  width: 20px;
  height: 20px;
  object-fit: contain;
}

#toggleDay {
  display: flex;
  justify-content: center;
  gap: 500px;
  padding-top: 40px;
  color: white;
  font-size: 1.1rem;
}

button#today,
button#tomorrow,
button#threeDay {
  border: none;
  background: transparent;
  color: white;
  font-size: 1.1rem;
  padding-bottom: 15px;
}

button#today:active,
button#today:focus,
button#today:target,
button#tomorrow:active,
button#tomorrow:focus,
button#tomorrow:target,
button#threeDay:active,
button#threeDay:focus,
button#threeDay:target {
  border-bottom: 4px solid white;
  padding-bottom: 10px;
}

#hourlyGraph {
  display: flex;
}

.hourlyNode {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#rainIcon1,
#rainIcon2,
#rainIcon3 {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.toggle {
  --width: 50px;
  --height: calc(var(--width) / 2);

  width: var(--width);
  height: var(--height);
  position: relative;
  display: inline-block;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: #ccc;
  transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
  content: "F";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked + .slider {
  /* background-color: #2196f3; */
  background-color: #ccc;
}

.toggle input:checked + .slider::before {
  content: "C";
  transform: translateX(calc(var(--width) - var(--height)));
}

#currentForecastTemp {
  display: grid;
  grid:
    "location location . . ." auto
    "date time . condition condition" auto
    "maxtemp . . condition condition" auto
    "temp degree . condition condition" auto
    "mintemp . . condition condition" auto
    / auto auto auto auto;
  gap: 15px 10px;
  /* align-content: start;
  justify-items: start; */
}

#currentLocation {
  grid-area: location;
  /* padding-bottom: 10px; */
  font-size: 1rem;
}

#currentTime {
  grid-area: time;
  font-size: 1rem;
}

#currentDate {
  grid-area: date;
  font-size: 1rem;
}

#currentMaxTemp {
  grid-area: maxtemp;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

#currentTemp {
  grid-area: temp;
  font-size: 5rem;
}

#tempF {
  grid-area: degree;
  font-size: 1.5rem;
  padding-top: 10px;
}

#currentMinTemp {
  grid-area: mintemp;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

#currentCondition {
  grid-area: condition;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img#currentConditionImg {
  width: 130px;
  height: 130px;
  object-fit: contain;
}

#details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 0px 15px 0px;
}

#threeDayDates {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

#day1,
#day2,
#day3 {
  display: grid;
  grid:
    "date" auto
    "temp" auto
    "weather" auto
    "rain" auto
    / auto;
}

#date1,
#date2,
#date3 {
  grid-area: date;
  padding-bottom: 10px;
}

#temp1,
#temp2,
#temp3 {
  grid-area: temp;
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

#weather1,
#weather2,
#weather3 {
  grid-area: weather;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

#rainChance1,
#rainChance2,
#rainChance3 {
  grid-area: rain;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  font-size: 1.1rem;
}
